{% extends "layout.html" %}
{% block content %}
    <script type="text/javascript" src="static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/js/echarts.js"></script>
    <h3>Social visualizations: </h3>
    <div id = "grouped_bar" style="width:50%;height:500px; float:left;"></div>
    <div id="sidebar" style="float: left; width:50%">This is a grouped bar chart that shows the up votes and down votes.
    You can use the toolbar and change it into a stacked bar chart. Also, the legends can be toggled so that you can view only one
    type of vote.</div>
    <script type="text/javascript" src="static/js/grouped_bar.js"></script>

{% endblock %}